h1, h2, h3, p, td, aside, li {
  font-family: Verdana;
  font-size: 11.5;
}

figcaption {
  font-family: Arial;
  font-color: #525252;
  font-size: 9;
}

body {
  margin:50px;
  max-width:800px;
  line-height:1.8;
  padding:0;
}
