h1, h2, h3, p, td, aside, li a {
    font-family: Verdana;
    font-size: 11.5;
    font-color: #d1d1d1;
}

figcaption {
    font-family: Arial;
    font-color: #d1d1d1;
    font-size: 9;
}

body {
    margin-inline: auto;
    max-width:800px;
    line-height:1.8;
    padding:0;
    background-color: #35383f;
}
